<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <appSettings>
    <!--当项目发布时，请填写项目名称在value值中-->
    <add key="ProjectName" value="正式版" />
  </appSettings>

</configuration>