<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NKnife.NLog3" />
  </extensions>
  <targets async="true">
    <!--在主程序的界面上显示日志-->
    <target name="logpanel" xsi:type="LogPanel" />
    <!--记录详细日志彩色控制台-->
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=mm\:ss\.fff} : ${message}" />
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" appendTo="logpanel" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>