<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.0.0" targetFramework="net462" />
  <package id="fastJSON" version="2.3.1" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net462" />
  <package id="NKnife" version="20.1.0" targetFramework="net462" />
  <package id="NKnife.NLog.WinForm" version="19.0.3" targetFramework="net462" />
  <package id="NKnife.UpdaterFromGitHub" version="1.5.0.1211" targetFramework="net462" />
  <package id="NKnife.Win.Forms" version="19.0.0.1119" targetFramework="net462" />
  <package id="NLog" version="4.6.8" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net462" />
</packages>