<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="6.3.0" targetFramework="net462" />
  <package id="Autofac.Extensions.DependencyInjection" version="7.2.0" targetFramework="net462" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net462" />
  <package id="CommonServiceLocator" version="2.0.6" targetFramework="net462" />
  <package id="Dapper" version="2.0.123" targetFramework="net462" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net462" />
  <package id="fastJSON" version="2.4.0.4" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.19.1" targetFramework="net462" />
  <package id="K4os.Compression.LZ4" version="1.2.16" targetFramework="net462" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.16" targetFramework="net462" />
  <package id="K4os.Hash.xxHash" version="1.0.7" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Json" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="6.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net462" />
  <package id="morelinq" version="3.3.2" targetFramework="net462" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net462" />
  <package id="MySql.Data" version="8.0.27" targetFramework="net462" />
  <package id="NKnife" version="21.1.1" targetFramework="net462" />
  <package id="NKnife.Bytes" version="21.1.0" targetFramework="net462" />
  <package id="NKnife.NLog.WinForm" version="20.0.0" targetFramework="net462" />
  <package id="NKnife.Reflection" version="21.0.0" targetFramework="net462" />
  <package id="NKnife.UpdaterFromGitHub" version="1.5.0.1211" targetFramework="net462" />
  <package id="NKnife.Win.Forms" version="20.0.5.529" targetFramework="net462" />
  <package id="NLog" version="4.7.13" targetFramework="net462" />
  <package id="SSH.NET" version="2020.0.1" targetFramework="net462" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net462" />
  <package id="System.Data.SQLite" version="1.0.115.5" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net462" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="net462" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.5" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net462" />
  <package id="System.IO.Ports" version="6.0.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Json" version="6.0.1" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>