<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.1.2" targetFramework="net462" />
  <package id="Autofac.Extensions.DependencyInjection" version="6.0.0" targetFramework="net462" />
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net462" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net462" />
  <package id="Dapper" version="2.0.30" targetFramework="net462" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net462" />
  <package id="fastJSON" version="2.3.1" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="3.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Json" version="3.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="3.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="3.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.1" targetFramework="net462" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net462" />
  <package id="MySql.Data" version="8.0.19" targetFramework="net462" />
  <package id="NKnife" version="20.1.0" targetFramework="net462" />
  <package id="NKnife.NLog.WinForm" version="19.0.3" targetFramework="net462" />
  <package id="NKnife.UpdaterFromGitHub" version="1.5.0.1211" targetFramework="net462" />
  <package id="NKnife.Win.Forms" version="19.0.0.1119" targetFramework="net462" />
  <package id="NLog" version="4.6.8" targetFramework="net462" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net462" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net462" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net462" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net462" />
  <package id="System.IO.Ports" version="4.7.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net462" />
  <package id="System.Text.Json" version="4.7.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>