<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net40" />
  <package id="Common.Logging.NLog40" version="3.4.1" targetFramework="net40" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net40" />
  <package id="NLog" version="4.5.11" targetFramework="net40" />
  <package id="System.Management" version="4.0.0" targetFramework="net40" />
</packages>