<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net40" />
  <package id="DockPanelSuite" version="3.0.0" targetFramework="net40" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net40" />
  <package id="NKnife" version="17.5.0.511" targetFramework="net40" />
  <package id="NKnife.ControlKnife" version="17.5.0.511" targetFramework="net40" />
</packages>