
table{
    border-collapse: collapse;
    width: 100%;
}

table td {
    font-size: 0.8em;
    border-left: solid #000 1px;
    border-top: solid #000 1px;
}

#report-sign-row td { border-bottom: solid #000 1px; }
#compute-table td, #collect-table td, #report-sign-row td {
    text-align: center;
}
#compute-table td, #info-table td, #report-sign-row td {
    padding: 6px 3px;
}
#collect-table td {
    padding:  4px 3px 2px 3px;
}
.latin {
    font-family: 'Times New Roman';
}