<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.0" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.3.0" targetFramework="net40" />
  <package id="DockPanelSuite" version="2.9.0.0" targetFramework="net40" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net40" />
  <package id="OxyPlot.Core" version="2014.1.546" targetFramework="net40" />
  <package id="OxyPlot.WindowsForms" version="2014.1.546" targetFramework="net40" />
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net40" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net40" />
  <package id="Simple.Data.Sqlite" version="0.18.3.2" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.98.1" targetFramework="net40" />
</packages>