<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.1.0" targetFramework="net462" />
  <package id="DockPanelSuite.ThemeVS2003" version="3.1.0" targetFramework="net462" />
  <package id="DockPanelSuite.ThemeVS2005Multithreading" version="3.1.0" targetFramework="net462" />
  <package id="DockPanelSuite.ThemeVS2012" version="3.1.0" targetFramework="net462" />
  <package id="DockPanelSuite.ThemeVS2013" version="3.1.0" targetFramework="net462" />
  <package id="DockPanelSuite.ThemeVS2015" version="3.1.0" targetFramework="net462" />
  <package id="fastJSON" version="2.4.0.4" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="NKnife" version="21.1.0" targetFramework="net462" />
  <package id="NKnife.NLog.WinForm" version="20.0.0" targetFramework="net462" />
  <package id="NKnife.UpdaterFromGitHub" version="1.5.0.1211" targetFramework="net462" />
  <package id="NKnife.Win.Forms" version="20.0.5.529" targetFramework="net462" />
  <package id="NLog" version="4.7.11" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
</packages>